################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs
/Laboratorio_2/.vs/Laboratorio_2
/Laboratorio_3/.vs/Laboratorio_3
/Laboratorio_4/.vs/Laboratorio_4
