################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs
/Laboratorio_2/.vs/Laboratorio_2
/Laboratorio_3/.vs/Laboratorio_3
/Laboratorio_4/.vs/Laboratorio_4
/Laboratorio_5/.vs/Laboratorio_5
/Laboratorio 6/.vs/Laboratorio 6
/Laboratorio_6/.vs
/Laboratorio_7/.vs
/Laboratorio_8/.vs
/Laboratorio_9/Laboratorio 9/.vs
/Laboratorio_9/Laboratorio 9
/Laboratorio_9/.vs/Laboratorio_9/FileContentIndex/a31cb22f-7c05-4c2a-ad7a-12303e8c42ec.vsidx
/Laboratorio_9/.vs
